body {
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: "Poppins", sans-serif;
}

header {
    display: flex;
    background: #8fb5c0;
    font-family: "Bebas Neue";
    padding: 30px 20px;
    justify-content: space-between;
    position: relative;
    align-items: center;
    color: white;

}

header input {
    width: 600px;
    padding: 15px;
    border-radius: 10px;
}

header .input {
    position: relative;
}

header .input::after {
    content: "";
    position: absolute;
    background-image: url(search_24dp_000_FILL0_wght400_GRAD0_opsz24.svg);
    width: 30px;
    height: 30px;
    background-size: cover;
    right: 10px;
    top: 25%;
}

.icons{
    font-size: 1.5em;
    align-items: center;
    display: flex;
    gap: 10px;
}
.produtos-p{
    cursor: pointer;
    position: relative;
}
.carrinho:hover{
    transition: fill .2s;
    fill: white;
}
.carrinho{
    cursor: pointer;
}
.produtos-p::after{
    transition: .5s;
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: white;
    bottom: 0;
    left: 0;
}
.produtos-p:hover::after{
    width: 100%;
}

.produtos-a{
    color: white;
    text-decoration: none;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header a{
    color: white;
    text-decoration: none;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    border: 1px solid black;
    padding: 40px;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    gap: 30px;
    width: 400px;
}
.container img {
    width: 300px;
}
.preco{
    color: red;
    font-weight: bold;
}
.descricao{
    font-size: .8em;
}
.produtos-p::after{
    transition: .5s;
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: white;
    bottom: 0;
    left: 0;
}
.produtos-p:hover::after{
    width: 100%;
}

.produtos-a{
    font-size: 1.5em;
    color: white;
    text-decoration: none;
}
